.quiz-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.quiz-container .quiz-container-question {
    text-align: center;
    text-transform: uppercase;
    color: var(--quiz-question-green);
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.quiz-container .quiz-container-answers > p {
    cursor: pointer;
    padding: .5rem;
    border-bottom: 1px solid grey;
}

.quiz-container .quiz-container-answers > p:hover {
    cursor: pointer;
    font-weight: bold;
    color: var(--quiz-question-green);
}