:root {
    --background-light-blue: #AEEEFF;
    --quiz-question-green: #4CCD79;
    --button-primary-background: #0d6efd;
    --button-primary-label: #ffffff;
    --button-secondary-background: #6c757d;
    --button-secondary-label: #ffffff;
}